<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card animated flipInY">
                <form action="/trabajador/newcontract" method="post">
                    <div class="card-header text-center">
                        AGREGAR CONTRATO
                    </div>
                    <div class="card-body">
                            <div class="form-group">
                            <input type="text" class="form-control text-center" name="numero" value="{{id}}" readonly>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control text-center" name="nombre" value="{{Nombre}}"
                                readonly>
                        </div>
                        <div class="form-group">
                            <input type="date" class="form-control text-center" name="fingreso" value="{{ingreso}}" readonly>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control text-center" name="numcon" placeholder="Número de Contrato">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control text-center" name="dias" placeholder="Días de Contrato">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary btn-block">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>