<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card">
        <form action="/puestos/update/{{idd}}" method="POST">
          <div class="card-footer text-center">
            MODIFICAR PUESTOS
          </div>
          <div class="card-body">
            <div class="form-group">
              <input name="deptod" type="text" class="form-control text-center" value="{{deptod}}" autofocus>
            </div>
            <div class="form-group">
              <input type="text" class="form-control text-center" name="puestod" value="{{puestod}}">
            </div>
            <div class="form-group">
              <input type="text" class="form-control text-center" name="salariod" value="{{salariod}}">
            </div>
          </div>
          <div class="card-footer">
            <div class="form-group">
              <button class="btn btn-primary btn-block form-control" type="submit">Modificar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>