<section>
    <div class="containers">
        <div class="user signinBx">
            <div class="imgBx"><img src="./img/img7.jpeg"></div>
            <div class="formBx">
                <form action="/signin" method="POST">
                    <h2>sign In</h2>
                    <input type="text" placeholder="Número de nómina" name="num">
                    <input type="password" placeholder="Password" name="password">
                    <input type="submit" value="Login">
                    <p class="signup">Aun no estás registrado? <a href="#" onclick="toggleForm();">Regístrate.</a></p>
                </form>
            </div>
        </div>

        <div class="user signupBx">
            <div class="formBx">
                <form action="/signup" method="POST">
                    <h2>Create an Account</h2>
                    <input type="text" placeholder="Número de nómina" name="num">
                    <input type="text" placeholder="Nombre" name="username">
                    <input type="email" placeholder="Email" name="email">
                    <input type="password" placeholder="Password" name="password">
                    <input type="submit" value="Sign Up">
                    <p class="signup">Estas Registrado? <a href="#" onclick="toggleForm();">Ingresa aquí.</a></p>
                </form>
            </div>
            <div class="imgBx"><img src="./img/img8.jpeg"></div>
        </div>
    </div>
</section>