<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contratos</title>
    {{!-- Fuentes --}}
    <link href="/resource/imb.css" rel="stylesheet">
    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="/resource/bootstrap/css/bootstrap.css">
    {{!-- DataTable --}}
    <link rel="stylesheet" href="/resource/dataTables.css"/>
    {{!-- SWEET ALERT --}}
    <script src="/resource/sweetalert2.js"></script>
    {{!-- FONTAWESON --}}
    <link rel="stylesheet" href="/resource/font/css/font-awesome.css">
    {{!-- CSS ANIMADO --}}
    <link rel="stylesheet" href="/resource/animate.min.css">
    {{!-- Styles --}}
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{> nav }}
   
    <div class="body">
        {{{ body }}}

    </div>

<script src="/resource/jquery-3.5.1.js"></script>
<script src="/resource/popper.min.js"></script>
<script src="/resource/bootstrap/js/bootstrap.js"></script>
<script src="/resource/dataTables.js"></script>
<script src="/js/procesos.js"></script>
</body>

</html>